<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link th:href="@{/css/index.css}" href="/css/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1 class="emp">Department Details</h1>

<table style="width:100%">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Location</th>
        <th>Update/Delete</th>
    </tr>
    <tr th:each="department: ${departments}">
        <td th:text="${department.id}" />
        <td th:text="${department.deptName}" />
        <td th:text="${department.location}" />
        <td class="update">
            <a th:href="@{'/departments/update/'+${department.id}}">Update</a>
            <a th:href="@{'/departments/delete/'+${department.id}}">Delete</a>
        </td>
    </tr>
</table>
<div class="flexwrapper">
    <a th:href="@{'/departments/form'}" class="add" name="form">Add Department</a>
</div>
</body>
</html>
